.section {
  position: absolute;
  width: calc(100% - 560px);
  min-width: 700px;
}

.Ventilator-header {
  height: 50px;
  background-color: #b1a296;
  text-align: left;
  padding: 10px;
  border-left: 2px dashed #5d5c61;
  border-right: 2px dashed #5d5c61;
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
}

.info {
  margin-right: 20px;
  font-size: 1.8rem;
  color: white;
}

.placeholder {
  background-color: #5d5c61;
  width: 80%;
  height: 100%;
  min-width: 500px;
}

.placeholder h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 50px;
}

.placeholder h3 {
  font-size: 1.5rem;
  margin-top: 40px;
}

.Ventilator-content {
  height: calc(100% - 130px);
  top: 50px;
  display: flex;
  min-height: 400px;
  border-left: 2px dashed #5d5c61;
}

.Ventilator-footer {
  top: calc(100% - 80px);
  height: 80px;
  background-color: #b1a296;
  border-left: 2px dashed #5d5c61;
  border-right: 2px dashed #5d5c61;
  display: flex;
  justify-content: space-around;
}

.footer-info {
  border: 2px solid white;
  margin: 15px auto;
  border-radius: 5px;
  background-color: #7395ae;
  padding: 5px;
  width: 180px;
  font-size: 1.2rem;
  font-weight: 600;
}
