.TriggerSettings {
  width: 20%;
  height: 100%;
  min-width: 150px;
  background-color: #5d5c61;
}

.Setting {
  height: 14.285%;
  width: 100%;
  background-color: #7395ae;
  color: white;
  border: 2px solid #5d5c61;
  display: flex;
  border-radius: 5px;
}

#param {
  display: flex;
  font-size: 0.8rem;
  width: 30%;
  margin: 5px;
}

#bold {
  font-weight: 600;
  margin-right: 5px;
}

#value {
  font-size: 3.5rem;
  align-content: flex-end;
  width: 70%;
  margin: 5px;
  text-align: right;
}
